.account {
    position: fixed;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-title {
    font-size: 18px;
    font-weight: bold;
}

.container-buttons {
    margin-top: 30px;
    width: 300px;
}

.container-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}